@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
.nav {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 26;
}

.nav__brand-image {
  width: 60px;
  cursor: pointer;
}

.nav__icons {
  color: black;
  font-size: 1.4em;
  cursor: pointer;
  padding: 10px;
}

.nav__menu {
  position: absolute;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  z-index: 40;
  color: black;
  left: -120%;
  top: 0;
  bottom: 0;
  transition: left 0.4s;
  width: 100vw;
  height: 100vh !important;
  background-color: white;
}

.nav__menu-icon {
  color: black;
  font-size: 2em;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 20px;
}

.active {
  left: 0px;
}

.menu__list {
  list-style: none;
  margin-top: 50px;
}

.menu__item {
  font-size: 1.2em;
  color: black;
  text-decoration: none;
}

.nav__icons-cart {
  position: relative;
}

.cart__indicator {
  right: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 0.6em;
  border-radius: 50%;
  background-color: #292e49;
  color: white;
}

.f-elements {
  display: flex;
}

.f-elements--center {
  align-items: center;
  justify-content: center;
}

.f-elements--between {
  align-items: center;
  justify-content: space-between;
}

.f-elements--responsive {
  flex-direction: column;
}

.f-elements--y-center {
  align-items: center;
}

.container {
  padding: 1rem;
}

.gap-sm {
  gap: 10px;
}

.flex-1 {
  flex: 1;
}

.f-direction-colum {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-crossed {
  text-decoration: line-through;
}

.text-red {
  color: red;
}

.text-bold {
  font-weight: bold;
}

.text-sm {
  font-size: 0.9em;
}

.filter-gray {
  filter: grayscale(100%);
}

.separator {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  margin: 5px 0;
}

.offer-banner__text {
  color: white;
}

.offer-banner__text h3,
.offer-banner__text p {
  margin: 0;
}

.offer-banner__text h3 {
  font-size: 2em;
}

.banner-top {
  width: 100%;
  height: 200px;
  background: url("../../src/images/banner_navidad_mobile.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 992px) {
  .banner-top {
    background: url("../../src/images/banner_navidad.webp");
    background-repeat: no-repeat;
    height: 120px;
    background-position: center;
  }
}
.swiper-banner {
  width: 600px;
  height: 200px;
  z-index: 1;
}

.swiper-slide-banner {
  width: 100%;
  background: linear-gradient(45deg, #373b44, #4286f4);
  border-radius: 1rem;
  padding: 20px 40px;
  box-sizing: border-box;
  cursor: pointer;
}

.swiper-slide-banner:active {
  cursor: grab;
}

.products {
  margin: 2rem 0;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.product__item {
  position: relative;
}

.product__image {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

.swiper-product {
  position: relative;
}

.swiper__product .swiper-slide {
  cursor: pointer;
}

.swiper__product .swiper-slide:active {
  cursor: grab;
}

.product__image-button-left,
.product__image-button-right {
  position: absolute;
  z-index: 10;
  top: 50%;
  color: black;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0.5rem;
}

.product__image-button-left {
  left: 1rem;
}

.product__image-button-right {
  right: 1rem;
}

.product__name,
.product__price,
.product__discount,
.product__finalPrice {
  margin: 0;
}

.product__discount,
.product__finalPrice {
  color: red;
  font-weight: bold;
}

.product__name {
  text-transform: uppercase;
  font-size: 1.2em;
}

.product__description {
  font-size: 0.8em;
  min-height: 30px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product__button {
  width: 100%;
  justify-content: end;
}

.product__button button {
  margin: 1rem 0;
  background-color: white;
  padding: 0.6rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 0.6rem;
  border: solid 2px rgba(0, 0, 0, 0.35);
  color: rgba(0, 0, 0, 0.35);
}

.product__button button:hover {
  background-color: #0039cb;
  color: white;
  border-color: transparent;
  transition: background 0.45s;
  transition: color 0.2s;
}

.product__rating {
  background-color: rgba(0, 57, 203, 0.1);
  width: fit-content;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 0.6rem;
}

.product__rating i {
  height: fit-content;
  display: flex;
}

.product__rating .bi-star-fill {
  color: #2962ff;
}

.product__rating .bi-star {
  color: rgba(0, 57, 203, 0.3);
}

.product__content {
  margin-top: 1rem;
  box-sizing: border-box;
  padding: 1rem;
}

.product__cost {
  font-size: 0.9em;
  justify-content: start;
}

.product__sold-out {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 25;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .products__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .products__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1400px) {
  .products__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.cart {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 25;
  display: none;
  padding-top: 64px;
}

.cart--visible {
  display: flex;
}

.cart__content {
  padding: 1rem 2rem;
  background-color: white;
  z-index: 26;
  height: 100%;
  width: 100%;
}

.cart__payment {
  margin-top: 20px;
}

.cart__content--close {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 25;
  right: 0;
  width: 0;
  height: 100%;
  cursor: pointer;
}

.cart__items {
  overflow-y: auto;
  display: flex;
  flex-direction: column !important;
}

.cart__item {
  display: flex;
  gap: 10px;
}

.cart__item-body h4 {
  font-size: 0.9em;
}

.cart__item-image img {
  width: 100px;
}

.cart__item-action {
  cursor: pointer;
  padding: 5px;
  justify-self: flex-end;
}

.cart__pay-button {
  width: 100%;
  height: 40px;
  background-color: #0039cb;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.cart__pay-button:hover {
  background-color: rgba(0, 57, 203, 0.95);
}

.cart__content-wrapper {
  display: flex;
  height: 75%;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .cart__content {
    width: 400px;
  }
  .cart__content--close {
    width: calc(100% - 400px);
  }
}
.body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  position: relative;
  scrollbar-color: black;
}

.main {
  padding-top: 5rem;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

/*# sourceMappingURL=fe.css.map */
