.cart {
  width: 100vw;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 25;
  display: none;
  padding-top: 64px;
}
.cart--visible {
  display: flex;
}
.cart__content {
  padding: 1rem 2rem;
  background-color: white;
  z-index: 26;
  height: 100%;
  width: 100%;
}
.cart__payment {
  margin-top: 20px;
}

.cart__content--close {
  background-color: rgba($color: #000000, $alpha: 0.6);
  z-index: 25;
  right: 0;
  width: 0;
  height: 100%;
  cursor: pointer;
}
.cart__items {
  overflow-y: auto;
  display: flex;
  flex-direction: column !important;
}
.cart__item {
  display: flex;
  gap: 10px;
}
.cart__item-body h4 {
  font-size: 0.9em;
}
.cart__item-image img {
  width: 100px;
}
.cart__item-action {
  cursor: pointer;
  padding: 5px;
  justify-self: flex-end;
}
.cart__pay-button {
  width: 100%;
  height: 40px;
  background-color: $primary-color;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 10px;
}
.cart__pay-button:hover {
  background-color: rgba($color: $primary-color, $alpha: 0.95);
}
.cart__content-wrapper {
  display: flex;
  height: 75%;
  flex-direction: column;

  justify-content: space-between;
}

@media (min-width: 992px) {
  .cart__content {
    width: 400px;
  }
  .cart__content--close {
    width: calc(100% - 400px);
  }
}
