.nav {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
  position: fixed;
  z-index: 26;
}

.nav__brand-image {
  width: 60px;
  cursor: pointer;
}

.nav__icons {
  color: black;
  font-size: 1.4em;
  cursor: pointer;
  padding: 10px;
}

.nav__menu {
  position: absolute;
  box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);
  z-index: 40;
  color: black;
  left: -120%;
  top: 0;
  bottom: 0;
  transition: left 0.4s;
  width: 100vw;
  height: 100vh !important;
  background-color: white;
}
.nav__menu-icon {
  color: black;
  font-size: 2em;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  right: 20px;
}

.active {
  left: 0px;
}
.menu__list {
  list-style: none;
  margin-top: 50px;
}
.menu__item {
  font-size: 1.2em;
  color: black;
  text-decoration: none;
}
.nav__icons-cart {
  position: relative;
}
.cart__indicator {
  right: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 0.6em;
  border-radius: 50%;
  background-color: #292e49;
  color: white;
}
