.offer-banner {
  width: 100%;
  background: linear-gradient(45deg, #536976, #292e49);
  border-radius: $border-radius;
  padding: 20px;
  box-sizing: border-box;
}
.offer-banner__text {
  color: white;
}
.offer-banner__text h3,
.offer-banner__text p {
  margin: 0;
}
.offer-banner__text h3 {
  font-size: 2em;
}
