.products {
  margin: 2rem 0;
}
.products__grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.product__item {
  position: relative;
}
.product__image {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
.swiper-product {
  position: relative;
}
.swiper__product .swiper-slide {
  cursor: pointer;
}
.swiper__product .swiper-slide:active {
  cursor: grab;
}
.product__image-button-left,
.product__image-button-right {
  position: absolute;
  z-index: 10;
  top: 50%;
  color: black;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0.5rem;
}
.product__image-button-left {
  left: 1rem;
}
.product__image-button-right {
  right: 1rem;
}

.product__name,
.product__price,
.product__discount,
.product__finalPrice {
  margin: 0;
}
.product__discount,
.product__finalPrice {
  color: red;
  font-weight: bold;
}
.product__name {
  text-transform: uppercase;
  font-size: 1.2em;
}
.product__description {
  font-size: 0.8em;
}
.product__button {
  width: 100%;
  justify-content: end;
}
.product__button button {
  margin: 1rem 0;
  background-color: white;
  padding: 0.6rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 0.6rem;
  border: solid 2px rgba($color: #000000, $alpha: 0.35);
  color: rgba($color: #000000, $alpha: 0.35);
}
.product__button button:hover {
  background-color: $primary-color;
  color: white;
  border-color: transparent;
  transition: background 0.45s;
  transition: color 0.2s;
}
.product__rating {
  background-color: rgba($color: $primary-color, $alpha: 0.1);
  width: fit-content;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 0.6rem;
}
.product__rating i {
  height: fit-content;
  display: flex;
}
.product__rating .bi-star-fill {
  color: #2962ff;
}
.product__rating .bi-star {
  color: rgba($color: $primary-color, $alpha: 0.3);
}
.product__content {
  margin-top: 1rem;
  box-sizing: border-box;
  padding: 1rem;
}
.product__cost {
  font-size: 0.9em;
  justify-content: start;
}
.product__sold-out {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 25;
  font-weight: bold;
  color: rgba($color: #000000, $alpha: 0.4);
}

@media (min-width: 768px) {
  .products__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 992px) {
  .products__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1400px) {
  .products__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
