.swiper-banner {
  width: 600px;
  height: 200px;
  z-index: 1;
}
.swiper-slide-banner {
  width: 100%;
  background: linear-gradient(45deg, #373b44, #4286f4);
  border-radius: $border-radius;
  padding: 20px 40px;
  box-sizing: border-box;
  cursor: pointer;
}
.swiper-slide-banner:active {
  cursor: grab;
}
